NODE_ENV=production
DATABASE_URL=postgresql://omnidesk:omnidesk@postgres:5432/omnidesk?schema=public
REDIS_HOST=redis
REDIS_PORT=6379
JWT_SECRET=change-me-in-local-env
API_PORT=3000
WORKER_PORT=3001
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api/v1
HOSTNAME=0.0.0.0
