NODE_ENV=development

DATABASE_URL=postgresql://omnidesk:omnidesk@127.0.0.1:55432/omnidesk?schema=public
POSTGRES_PORT=55432

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

API_PORT=3000
WEB_ORIGIN=http://localhost:3002
WORKER_PORT=3001
NEXT_PUBLIC_API_BASE_URL=http://localhost:3000/api/v1
NEXT_PUBLIC_REALTIME_URL=http://localhost:3000/notifications

JWT_SECRET=change-me-in-local-env
